* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-button {
    outline: none !important;
    box-shadow: none !important;
}

.hero-section {
    /* background-image: url(../image/equipments.webp); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/equipments.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.hero-header {
    font-size: 60px !important;
    font-weight: bolder;

}

.hero-btn {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 8px 30px;
    font-size: 18px;
}

.product-container {
    max-width: 1550px;
}

.single-product {
    max-width: 480px;
}

.cart-container {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-empty {
    width: 600px;
    margin: 0 auto !important;
}

.form-container {
    max-width: 600px;
    height: auto;
}

#contact-us {
    height: 80vh;
}
.faqs-section{
    height: 80vh;
}
.form-button{
    outline: none !important;
    box-shadow: none !important;
    padding: 8px 30px !important;
}
.form-button:hover{
    color: #198754 !important;
    padding: 6px 28px !important;
    background-color: white !important;
    border: 2px solid #198754 !important;
    transition: 0.3s all ease-in-out;
}
@media screen and (min-width: 768px) {
    .navbar-nav {
        gap: 30px !important;
        text-align: center !important;
    }
}

@media screen and (max-width: 600px) {
    .navbar-nav {
        gap: 10px !important;
        text-align: center !important;
    }

    .hero-header {
        font-size: 30px !important;
        font-weight: bolder;
    }

    .hero-text {
        font-size: 16px !important;
    }

    .hero-section {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/model.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .about-text {
        font-size: 14px !important;
    }

    .cart-container {
        height: 100vh;

    }

    .cart-empty {
        width: 100%;
        margin: 0 10px !important;
    }
}